<%- include("header") -%>

<div id class="wrapper">


<a href ="/today">
<button class="home-button">
    <h1> To do today</h1>
</button>
</a>

<a href ="/thisweek">
<button class="home-button">
    <h1> To do this week</h1>
</button>
</a>

</div>

<%- include("footer") -%>
